@import url("https://fonts.googleapis.com/css2?family=Candal&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Candal", sans-serif;
}

html,
body {
  max-width: 1440px;
  /* border: 1px solid red; */
  background-color: #fafafa;
  margin: 0 auto;
}

/* header section all css */
.main {
  /* border: 1px solid blue; */
  width: 100%;
  padding: 30px 100px 20px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a img {
  max-width: 413.09px;
  height: 32.04px;
}

.navigation-menu ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation-menu ul li a {
  color: #666666;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-align: left;
}

.navigation-menu ul li a:hover {
  color: #e72368;
}

/* hero section all css */
.hero {
  width: 100%;
  padding: 65px 100px 81px 100px;
  display: flex;
  gap: 20px;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
}

.hero-content {
  margin-top: 80px;
}

.hero-content .hero-heading-text-button {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-content .hero-heading-text-button h2 span {
  margin-right: 15px;
  font-family: "Candal", sans-serif;
  font-size: 54px;
  font-weight: 400;
  line-height: 66px;
  letter-spacing: 0px;
  text-align: left;
  color: #7bcad9;
}

.hero-content .hero-heading-text-button h2 {
  font-family: "Candal", sans-serif;
  font-size: 54px;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: 0px;
  text-align: left;
  color: #12141d;
}

.hero-content .hero-heading-text-button p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0px;
  text-align: left;
  color: #666666;
  margin-bottom: 20px;
}

.hero-content .hero-heading-text-button .button-empty-div {
  display: flex;
  position: relative;
  /* justify-content: space-between; */
}

.hero-content .hero-heading-text-button .button-empty-div button {
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: right;
  padding: 11px 27.5px;
  background-color: #e72368;
  color: #ffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.35s ease-in-out;
}
.hero-content .hero-heading-text-button .button-empty-div button:hover {
  transform: scale(0.9);
  transition: 0.35s ease-in-out;
  background-color: #f2fdff;
  color: #e72368;
  border: 1px solid #e72368;
}

.hero-content .hero-heading-text-button .button-empty-div .circle {
  width: 63.91px;
  height: 63.91px;
  border: none;
  border-radius: 50%;
  background-color: #7bcad9;
  box-shadow: 15px 19px 24px 0px rgba(18, 118, 129, 0.28);
  position: absolute;
  right: 170px;
  top: 25px;
}

.hero-image img {
  max-width: 519px;
  height: 556.27px;
}

/* About Us Section All CSS */

.about-us {
  width: 100%;
  padding: 70px 100px 100px 100px;
  display: flex;
  flex-direction: column;
  background-color: #f2fdff;
}

.about-us .heading-about-us {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us .heading-about-us span {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: right;
  color: #f2958e;
  margin-left: 10px;
}
.about-us .heading-about-us h2 {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: right;
  color: #000;
}
/* part 1 about us */
.About-Us-top {
  display: flex;
  align-items: center;
  gap: 155px;
  margin-top: 74px;
  margin-bottom: 77px;
}
.About-Us-top img {
  width: 414px;
  height: 377px;
}
.About-Us-top .about-top-text-heading {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-left: 8px solid #7bcad9;
  padding-left: 31px;
  padding-bottom: 15px;
  /* margin-top: 74px; */
}
.About-Us-top .about-top-text-heading h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
}
.About-Us-top .about-top-text-heading h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}
/* part 2 about us */

.About-Us-bottom {
  display: flex;
  align-items: center;
  gap: 155px;
  margin-top: 74px;
  margin-bottom: 77px;
}
.About-Us-bottom img {
  width: 414px;
  height: 377px;
}
.About-Us-bottom .about-top-text-heading {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-left: 8px solid #7bcad9;
  padding-left: 31px;
  padding-bottom: 15px;
  /* margin-top: 74px; */
}
.About-Us-bottom .about-top-text-heading h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
}
.About-Us-bottom .about-top-text-heading h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}
/* Services All CSS */
.services {
  width: 100%;
  padding: 70px 100px 100px 100px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.heading-Services {
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .heading-Services span {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: right;
  color: #f2958e;
  margin-left: 10px;
}
.services .heading-Services h2 {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: right;
  color: #000;
}
.cards {
  margin-top: 55.78px;
  display: flex;
  gap: 30px;
}
/* Card one */
.card-one:hover {
  transition: 0.45s ease;
  transform: translateY(30px);
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.2);
}
.card-one img:hover {
  transform: scale(1.1);
  transition: 0.25s ease;
}
.card-one {
  background-color: #e72368;
  width: 280px;
  height: 353px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 15px 47px 21.75px;
  transition: 0.45s ease;
}
.card-one img {
  width: 80px;
  height: 80px;
  transition: 0.25s ease;
}
.card-one h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #ffff;
}
.card-one h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.10000000149011612px;
  text-align: center;

  color: #ffff;
}

/* card two */
.card-two {
  background-color: #f2958e;
  width: 280px;
  height: 353px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 15px 47px 21.75px;
  transition: 0.45s ease;
}
.card-two:hover {
  transform: translateY(30px);
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.2);
  transition: 0.45s ease;
}
.card-two img:hover {
  transform: scale(1.1);
  transition: 0.25s ease;
}
.card-two img {
  width: 80px;
  height: 80px;
  transition: 0.25s ease;
}
.card-two h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #ffff;
}
.card-two h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.10000000149011612px;
  text-align: center;
  color: #ffff;
}

/* card three */
.card-three {
  background-color: #1e3a6d;
  width: 280px;
  height: 353px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 15px 47px 21.75px;
  transition: 0.45s ease;
}
.card-three:hover {
  transition: 0.45s ease;
  transform: translateY(30px);
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.2);
}
.card-three img {
  width: 80px;
  transition: 0.25s ease;
  height: 80px;
}
.card-three img:hover {
  transform: scale(1.1);
  transition: 0.25s ease;
}
.card-three h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #ffff;
}
.card-three h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.10000000149011612px;
  text-align: center;
  color: #ffff;
}

/* card four */
.card-four {
  background-color: #7bcad9;
  width: 280px;
  height: 353px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 15px 47px 21.75px;
  transition: 0.45s ease;
}
.card-four:hover {
  transition: 0.45s ease;
  transform: translateY(30px);
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.2);
}
.card-four img {
  width: 80px;
  height: 80px;
  transition: 0.25s ease;
}
.card-four img:hover {
  transform: scale(1.1);
  transition: 0.25s ease;
}
.card-four h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #ffff;
}
.card-four h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.10000000149011612px;
  text-align: center;

  color: #ffff;
}

/* Contact Us All CSS */
.contact-us {
  width: 100%;
  height: 717px;
  padding: 0px 100px 100px 100px;
  display: flex;
  position: relative;
  background-color: #f2fdff;
  /* border: 1px solid blue; */
}
.contact-us .form {
  width: 50.1388888889%;
  height: 717px;
  background-color: #f2fdff;
}
.contact-us .image-relative-position {
  width: 49.8611111111%;

  display: flex;
  flex-direction: column;
  height: 717px;
  /* background-color: rgba(231, 35, 104, 0.05); */
}
.contact-us .image-relative-position .top {
  width: 718px;
  height: 55%;
  background-color: rgba(210, 20, 87, 0.05);
}
.contact-us .image-relative-position .bottom {
  width: 718px;
  height: 45%;
  background-color: #e72368;
}
.image-relative-position img {
  width: 531px;
  height: 636px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.form {
  padding-top: 170px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form h2 {
  display: flex;
  justify-content: start;
  align-items: center;
}
.form span {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: right;
  color: #f2958e;
  margin-left: 10px;
}
.form h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #000;
}
.form h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  /* letter-spacing: 0px; */
  text-align: left;
  color: #000;
}

.form form {
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form form input {
  padding: 11px 15px;
  border: 0.5px solid rgba(205, 204, 204, 1);
  width: 324px;
  height: 50px;
  border-radius: 5px;
}
.form form input:focus {
  outline: 1.5px solid #ff0059;
}
.form form input::placeholder {
  color: rgba(149, 149, 149, 1);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4000000059604645px;
  text-align: left;
}

.form form #button {
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: right;
  padding: 11px 27.5px;
  background-color: #e72368;
  color: #ffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  text-align: center;
  transition: 0.35s ease-in-out;
}
.form form #button:hover {
  transform: scale(0.9);
  transition: 0.35s ease-in-out;
  background-color: #f2fdff;
  color: #e72368;
  border: 1px solid #e72368;
}

/* Footer All CSS */
.footer-main {
  width: 100%;
  height: 309px;
  padding: 46px 100px 39.63px 100px;
  display: flex;
  gap: 110px;
  position: relative;
  background-color: rgba(30, 58, 109, 1);
}
.footer-main .logo-social-icons {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
/* .footer-main .logo-social-icons a img{

} */
.footer-main .logo-social-icons p {
  color: #f6f6f6;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.footer-main .logo-social-icons .logos {
  display: flex;
  gap: 30px;
  align-items: center;
}

.footer-main .welcome {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer-main .welcome h2,
.footer-main .contact h2, .footer-main .email h2 {
  color: #fff;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0.05em;
  text-align: left;
}
.footer-main .welcome ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-main .welcome ul li a {
  color: #fff;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.footer-main .welcome ul li a:hover {
  color: #e72368;
}

.footer-main .contact {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer-main .contact ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-main .contact ul li a {
    color: #f6f6f6;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.footer-main .contact ul li a:hover {
  color: #e72368;
}


.footer-main .email{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-main .email .label-heading{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-main .email .label-heading h4{
    color: #fff;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.footer-main .email .label-heading input{
    
    padding: 9px 19.9px;
    padding-bottom: 11px;
  border: 0.5px solid rgba(205, 204, 204, 1);
  width: 236px;
  height: 33px;
  border-radius: 5px;
  color: #323232;
  font-size: 12px;
  font-family: "Montserrat" ,sans-serif;
  font-weight: 600;
}
.footer-main .email .label-heading input:focus {
    outline: 1.5px solid #ff0059;
  }
  .footer-main .email .label-heading input::placeholder {
    color: rgba(149, 149, 149, 1);
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
  }
  .footer-main .email .label-heading form{
    position: relative;
  }

  .footer-main .email .label-heading  img{
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 7px;
    right: 25px;
    /* transform: rotate(-45deg); */
    transition: 0.45s;
  }
  .footer-main .email .label-heading button{
    background-color: transparent;
    color: transparent;
    border: none;
    outline: none;

  }
  .footer-main .email .label-heading  img:hover{
    transform: scale(1.03) translateX(5px);
    transition: 0.45s;
    cursor: pointer;
  }


